Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backBtn{
  padding: 7px;
  margin-top: 7px;
  border-radius: 5px;
  width: 60px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  background-color: #ffffff;
  cursor: pointer;
  transform: 0.3s;
}

.dropdown{
  display: flex;
}


.verify{
  width: 30%;
  margin-top: 4px;
}

.body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Register {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Form heading (optional) */
h1,form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input group */
form div {
  margin-bottom: 15px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

.login-logo{
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
/* Inputs */
input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

/* Submit button */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #667eea;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
}

p {
  margin-top: 15px;
  text-align: center;
  color:#667eea;;
}

a {
  color: #5b5dd8;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}
